:root {
    --principal: #0f787f;
    --secundario: #38B6FF;
    --fondo: #f0f0f0;
    --texto: #1d1d1d;
    --grisIntermedio: #b3b3b3;
    --destacado: #ffcc00;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--fondo);
    scroll-behavior: smooth;
    text-decoration: none;
}

/* ESTILO HEADER*/

.header-cv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2%;
    box-shadow: 0 4px 6px -1px rgba(51, 51, 51, 0.5);
    background-color: rgba(15, 120, 127, 0.5);
    /*gap: 5%; PARA RESPONSIVE*/
}

.header-cv .figure-imagen-perfil {
    width: 8rem;
}

.header-cv .div-info-principal {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
}

.header-cv .div-info-principal p {
    font-weight: 400;
}

.header-cv .figure-imagen-perfil img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1124px) {
    .ocultar-ciudad {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .ocultar-nacimiento {
        display: none;
    }
}


.main-cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-cv {
    width: 100%;
}

.boton-ir-arriba {
    color: var(--texto);
    background-color: var(--secundario);
    border-radius: 2rem;
    border: 1px solid var(--destacado);
    position: absolute;
    padding: 0.5%;
    bottom: 1px;
    right: 20px;
}